@font-face {
    font-family: 'FontHeader';
    src: url('../fonts/Bitter-Regular.ttf');
}

@font-face {
    font-family: 'FontBody';
    src: url('../fonts/Raleway-Regular.ttf');
}

body {
    font-family: 'FontBody';
    font-size: 16px;
}

h1 {
    background-color: #EBFF7F;
    padding: 5px;
    border-radius: 5px;
    font-family: 'FontHeader';
    font-size: 28px;
}

h2 {
    font-size: 20px;
}

.scratchProject {
    max-width: 250px;
    background-color: #E0E0E0;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 15px;
}

.step {
    margin-bottom:10px;
    padding: 5px;
}

.table td {
    border-bottom: 1px solid;
}

.btn-primary {
    background-color: #90994C;
    border-color: #848C46;
}

.btn-primary:hover {
    background-color: #848C46;
}